@font-face
  font-family: Mincho
  font-weight: 500
  font-style: normal
  src: url($font-file-num), url($font-file-en), url($font-file-mincho)

@font-face
  font-family: Mincho
  font-weight: 700
  font-style: normal
  src: url($font-file-en-bold), url($font-file-num-bold), url($font-file-mincho)

@font-face
  font-family Kakugo
  font-weight: 500
  font-style: normal
  src: url($font-file-gothic)

@font-face
  font-family Kakugo
  font-weight: 700
  font-style: normal
  src: url($font-file-gothic)

@font-face
  font-family Math
  font-weight: 500
  font-style: normal
  src: url($font-file-math)

@font-face
  font-family Math
  font-weight: 700
  font-style: normal
  src: url($font-file-math-bold)
