$color-black = #000000

// ✅すべて10ptのフォントを用いる
$body-font-size = 10pt
$body-font = $body-font-size Mincho, sans-serif
$code-font = $body-font-size Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
$math-font = $body-font-size Math, serif

// TODO: 現状、assets/以下のファイルは限られた拡張子のものしか
// artifacts/assets/にコピーされないので、*.pngにしている
// ✅英文のフォントはTimes New Roman
$font-file-en = "../artifacts/assets/fonts/Times New Roman.png"
$font-file-en-bold = "../artifacts/assets/fonts/Times New Roman Bold.png"
$font-file-num = "../artifacts/assets/fonts/Century.png"
$font-file-num-bold = "../artifacts/assets/fonts/Century Black.png"
$font-file-mincho = "../artifacts/assets/fonts/MS Mincho.png"
$font-file-gothic = "../artifacts/assets/fonts/MS Gothic.png"
$font-file-math = $font-file-num
$font-file-math-bold = $font-file-num-bold

// ✅A4縦置き
$page-width = 210mm
$page-height = 297mm

// ✅上下の余白は25mm
// ✅左右の余白は20mm
$page-margin-top = 25mm
$page-margin-bottom = 25mm
$page-margin-left = 20mm
$page-margin-right = 20mm

$page-header-font-size = 10pt
$page-footer-font-size = 10pt
$body-line-height = 1.5
$line-height = $body-font-size * $body-line-height

$page-top-left = ""
$page-top-right = ""
$page-bottom-left = ""
$page-bottom-right = ""
